<nav class = "course_navbar">
  <ul>
    <li id = "item1" class = "nav_item">logo</li>
    <li class = "nav_item username">{{username}}</li>
    <li class = "nav_item username contribs"> <i class="fas fa-cannabis"></i> {{weeds}} </li>
    <a href="/profile"><li class ="logout">Saved</li> </a>
    <li style = "margin-bottom:-30px; font-weight:bold; ">Courses Saved</li>
    <a href="/logout"><li class = "logout"> Log Out</li></a>
    <a href="/subjects"> <li class = "nav_li " id = "browse">Browse Subjects</li> </a>
    <a href="/share/choose_subject"> <li class = "nav_li" id = "share">Share Ressource</li> </a>
  </ul>

</nav>

<nav class = "responsive_nav">
  <p style = "color:black;" id = "logo">logo</p>
  <input style = "display:none;"type="checkbox" id ="menuc">
  <label class = "main_menu" for="menuc"> <i id = "menuc" class="fas fa-bars"></i>
  </label>
  <ul>
    <li style = "font-weight:bold; text-decoration:underline; color:black;">Courses Saved</li>
    <li>{{username}}</li>
    <li style = "color:#13aa52;"> <i class="fas fa-cannabis"></i> {{weeds}} </li>
    <a href="/share/choose_subject"> <li>Share Ressource</li> </a>
    <a href="/subjects"> <li>Browse Subjects</li> </a>
    <a href="/logout"><li id = "log"> Log Out</li></a>
    <a href="/profile"><li id = "log">Saved</li> </a>
  </ul>
</nav>


<div class="course_container" style ="margin-top:150px;">
  {{#each results}}
  <a href="{{this.link}}" target = "_blank" style = "color:white;">

    <div class="course">

      <div class="course_title">
          {{this.title}}
      </div>
      <div class="bins" id = "\3{{this._id}}"  onclick="deleteThis(this)">
      <i id = "delete" class="fas fa-trash-alt"></i>
      </div>

      <div class="top_arrow arrow {{this.voters.color}}" id = "\3{{this._id}}" onclick = "upvote(this)"> <i class="far fa-thumbs-up" id ="up"></i> </div>
      <div class="bot_arrow arrow {{this.voters.color}}" id = "\3{{this._id}}" onclick = "downvote(this)"> <i class="far fa-thumbs-down"></i> </div>
      <div class="score" style = "color:white;" id ="\3{{this._id}}_score">{{this.score}}</div>


      <div class="course_type">
        Type: <span class= "ressource_type" id = "{{this.type}}">{{this.type}}</span>
        Source: <img src="http://localhost:8000/source_logos/{{this.source}}.svg" class = "ressource_image {{this.source}}"></span>

        <!-- save unsave buttons -->

        <span class = "poster">Posted by : {{this.user}} <i class="fas fa-cannabis" style= "color:lightgreen"></i> <span style = "color:white;">{{this.weeds}}</span>
      </div>


      <div class="course_type responsive">

        <ul style = "line-height:3em;">
          <li>Type: <span class = "typeres" id = "{{this.type}}">{{this.type}}</span></li>
          <li>Source: <img src="http://localhost:8000/source_logos/{{this.source}}.svg" id ="img"></span></li>
          <li>Posted by : {{this.user}} <i class="fas fa-cannabis" style= "color:lightgreen"></i> <span style = "color:white;">{{this.weeds}}</span></li>

        </ul>

      </div>
    </div>
  </a>
  {{/each}}
</div>
<script type="text/javascript">
const like = document.querySelectorAll('.arrow');
like.forEach((item) => {
  item.addEventListener("click" , (e) => {
    e.preventDefault();
  });
});


  const bins = document.querySelectorAll('.bins');
  bins.forEach((item) => {
    item.addEventListener('click' , (e) => {
      e.preventDefault();
    });
  });

  function deleteThis(obj){
    const id = obj.id;
    $.ajax({
      url:"http://localhost:8000/unsave",
      data:{id:obj.id.substring(2)},
      type:"POST",
      success:function(err , success){
        location.reload(true);
      }
    });
  }
</script>
